### Notebook to view and add data. Also for testing scripts

In [1]:
import psycopg2
conn = psycopg2.connect("dbname=postgres user=zmckee host=cs425.cc0vhnbhtoib.us-east-2.rds.amazonaws.com ")

In [2]:
%load_ext sql
%sql postgresql://zmckee:K?JQRD5<G>TV8CX:A8;G@cs425.cc0vhnbhtoib.us-east-2.rds.amazonaws.com/postgres

'Connected: zmckee@postgres'

In [24]:
%%sql

SELECT table_name FROM information_schema.tables WHERE table_schema='public'

8 rows affected.

[('airline',),
 ('airport',),
 ('customer',),
 ('flight',),
 ('address',),
 ('creditcard',),
 ('booking',),
 ('booking_flight',)]

In [26]:
dates = ['{}-{}-{}'.format("2017", "12", day) for day in range(1,31)]

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql

In [ ]:
%%sql